*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 200vh;
    background-color: lemonchiffon;
}

h1{
    margin: 20px 0px 5px 50px;
}

.top, .main, .smoke, .window, .door{
    position: relative;
}

.top{
    width: 300px;
    height: 105px;
    background-color: crimson;
    margin: 90px 0px 0px 150px;
    border-radius: 150px 150px 0px 0px;
    border: 1.5px solid black;
}

.main{
    width: 255px;
    height: 195px;
    background-color: bisque;
    margin: 0px 0px 0px 172.5px;
    padding: 15px 0px 0px 0px;
    border: 1.5px solid black;
}

.smoke{
    width: 22.5px;
    height: 67.5px;
    background-color: darkcyan;
    margin: -120px 0px 52.5px 382.5px;
    border: 1.5px solid black;
}

.window{
    width: 75px;
    height: 75px;
    background-color: cyan;
    border-radius: 15px;
    margin: -142.5px 0px 0px 195px;
    border: 1.5px solid darkblue;
    box-sizing: content-box;
}

.door{
    width: 75px;
    height: 150px;
    background-color: saddlebrown;
    margin: -85px 0px 0px 322.5px;
    border: 1.5px solid black;
}